annoy==1.17.2
cltk-readers @ git+https://github.com/diyclassics/cltk_readers.git#egg=cltk_readers
la-core-web-lg @ https://huggingface.co/latincy/la_core_web_lg/resolve/main/la_core_web_lg-any-py3-none-any.whl
pandas==2.0.1
spacy==3.6.0
streamlit==1.22.0
